#wrapper {
width: 800px;
margin: 0 auto;
}
#header {
float: left;
width: 100%;
height: 150px;
background-color: red;
}
#body {
float: left;
width: 70%;
height: 300px;
background-color: blue;
}
#sidebar {
float: left;
width: 30%;
height: 300px;
background-color: green;
}
#footer {
float: left;
width: 100%;
height: 100px;
background-color: yellow;
}